<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<div class="center">
<h3 style="font-size: 2em">You have found a bug?</h3>


<div>
  <p>Something is not working as intended?

  You have an idea that could benefit the learning experience?

  You are on your way to become a successfully developer!

  We want to give you the opportunity to build/fix it yourself. 🛠️🪚🪵</p>
<br>
  <a style="font-weight: bold" href="https://github.com/trklkddr/studybuddy">Here</a>
  you can request access and become a Contributor to this project!

</div>
</div>
