<div class="learner-hub-container">
  <h2>Neuer Beitrag</h2>
  <form (ngSubmit)="addPost()" #postForm="ngForm">
    <div class="form-group">
      <label for="title">Titel</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="newPost.title"
        name="title"
        required
      />
    </div>
    <div class="form-group">
      <label for="content">Inhalt</label>
      <textarea
        class="form-control"
        id="content"
        [(ngModel)]="newPost.content"
        name="content"
        rows="4"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">
      Beitrag hinzufügen
    </button>
  </form>

  <h2>Beiträge</h2>
  <div class="post-list">
    <div *ngFor="let post of posts" class="post">
      <span>Title:</span><h3>{{ post.title }}</h3>
      <span>Beitrag:</span><p>{{ post.content }}</p>
      <p>
        <strong>{{ post.user.userName }}</strong>
        <em>{{ post.timestamp | date: 'short' }}</em>
      </p>
    </div>
  </div>
</div>
