<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/kaftan-serif-trial" rel="stylesheet">


<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="">
        Home
      </a>

      <a class="navbar-item" routerLink="roadmap">
        Roadmap
      </a>

      <a class="navbar-item" routerLink="hub">
        Learning Hub
      </a>
      <a class="navbar-item" routerLink="aboutUs">
        Meet the Team
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Study tools
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" routerLink="calendar">
            Calender
          </a>
          <a class="navbar-item" routerLink="timer">
            Timer
          </a>
          <a class="navbar-item" routerLink="habitTracker">
            Habit Tracker
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-item has-dropdown is-hoverable" *ngIf="isAdmin()">
      <a class="navbar-link">
        Admin
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" routerLink="userlist">
          Userlist
        </a>
      </div>
    </div>


    <div class="navbar-end">
      <div class="navbar-item">
        <!-- Admin-Indikator, der nur angezeigt wird, wenn der Benutzer ein Admin ist -->
        <span *ngIf="isAdmin()" class="tag is-warning">Admin</span>
      </div>
      <div class="navbar-item" *ngIf="!isLoggedIn()">
        <div class="buttons">

          <a class="button" routerLink="/login">
            Log in
          </a>
        </div>
      </div>
      <div class="navbar-item" *ngIf="isLoggedIn()">
        <p>Hello {{ getUsername() }}</p>
        <div class="buttons">
          <a class="button is-light" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
