nav {
  padding: 50px;
  animation: backcolor 1s linear infinite alternate;
  font-size: x-large;
  font-family: 'Gabo Drive', sans-serif;
  font-weight: bold;
}

.app-container {
  position: relative;
}

app-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
