<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">
<script src="https://kit.fontawesome.com/876162a540.js" crossorigin="anonymous"></script>
<div class="container">
  <div class="placeholder"></div>
  <div class="card">
    <div class="img img1">
    </div>
    <span class="name">Tarik</span>

    <div class="textbox">

      <strong>Lead Developer</strong><br>
    Tarik is the driving force behind our team's creative and technical vision. With over a decade of experience in software development, Tarik has honed his skills in various programming languages, including Python, Java, and C++. He has a keen eye for detail and is dedicated to ensuring that every project we undertake is a success. When he's not working, Tarik enjoys exploring the great outdoors, mountain biking, and hiking with his family.

    </div>
  </div>
  <div class="card">
    <div class="img img2">
    </div>
    <span class="name">Minh</span>

    <div class="textbox">
      <strong>Full Stack Developer</strong> <br>
      Minh is our resident full stack developer who excels in both front-end and back-end development. With a strong foundation in JavaScript, React, and Node.js, he has the ability to bring any project to life, no matter how complex. Minh passion for technology is matched only by his commitment to helping clients achieve their goals. In his free time, Minh is an avid gamer and enjoys playing the guitar.
    </div>
    </div>
  <div class="card">
    <div class="img img3">
    </div>
    <span class="name">Marc</span>

    <div class="textbox">
      <strong>Mobile Developer</strong><br>
      Marc's expertise in mobile development extends beyond just building apps for iOS and Android. He is also proficient in utilizing popular mobile development frameworks such as Flutter and Xamarin, and has experience in integrating various third-party APIs to enhance app functionality and user experience. With his diverse skill set, Marc is able to deliver top-notch mobile applications that meet the needs of clients and end-users alike.
    </div>
  </div>
  <div class="card">
    <div class="img img4">
    </div>
    <span class="name">René</span>

    <div class="textbox">
      <strong>Web Developer</strong><br>
    René is our highly skilled Frontend Developer, specializing in creating visually appealing and highly responsive web applications. His expertise in HTML, CSS, and JavaScript, as well as his proficiency in modern frameworks like React and Angular, ensures that every project has a polished and engaging user interface. René is dedicated to bringing clients' visions to life and always strives to exceed expectations. In his downtime, he enjoys tinkering with electronics, playing soccer, and discovering new music.
    </div>
  </div>
</div>
