<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">

<div class="hero-body overlay">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-one-third">
      <p class="title is-1">
        Studybuddy
      </p>
      <p class="subtitle text">
        Organize your thoughts and fuel your training!
      </p>
      </div>
      <div class="column-is-two-thirds cover">
        <img src="/assets/favpng_distance-education-e-learning-vector-graphics-continuing-education.png" alt="learning illustration" class="scale">

      </div>
    </div>
  </div>
</div>

<section class="hero is-link py-4">
  <div class="hero-body">
    <p class="title">
      About Studybuddy
    </p>
    <p class="subtitle text">
      A tool for students made by students.
      We had the same struggles, just as you and are here to optimize your training!
    </p>
  </div>
</section>

<div class="tile is-ancestor header">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
          <h1 class="tile-header"> Try our Pomodoro Timer
          </h1>

        </article>
        <article class="tile is-child box">
          test1
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          test2
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        test3
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <h1 class="tile-header"> Lifelong learning ?
      </h1>
      <p class="tile-text">Lifelong learning refers to the ongoing process of acquiring knowledge, skills, and attitudes throughout one's entire life. It involves a commitment to personal and professional development, and a willingness to engage in learning activities that help to improve one's knowledge and understanding of the world.

        The concept of lifelong learning has become increasingly important in today's rapidly changing world, where technological advancements and social changes are transforming the way we live and work. In order to stay relevant and competitive, individuals need to be able to adapt to these changes by continuously learning and upgrading their skills.

        Lifelong learning can take many forms, including formal education, training programs, online courses, self-directed learning, and experiential learning. It can be pursued for personal enrichment, career development, or simply for the joy of learning.

        In addition to its practical benefits, lifelong learning has been shown to have numerous positive effects on individuals' health and well-being, including increased cognitive function, improved mental health, and greater social engagement.

        Overall, lifelong learning is a valuable and rewarding pursuit that can enrich our lives in countless ways. By embracing a lifelong learning mindset, we can continue to grow and develop as individuals, and make meaningful contributions to our communities and the world around us.</p>
    </article>
  </div>
</div>

<router-outlet></router-outlet>
