
h1 {
  font-size: 6em;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.div-container {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
knopf. {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

knopf. :hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

knopf. :active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.scale{

  overflow: hidden;

}
.cover {
  max-width: 100%;
  max-height: 100%;
  margin-left: 30%;
}
.cover img {
  max-width: 100%;
  max-height: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-content: center;
  letter-spacing: 5px;
  background: #cccccc;


}
.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
}

.text {
  font-family: 'Montserrat', sans-serif;
}
.tile-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: xx-large ;
  letter-spacing: 3px;
}

.tile-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: smaller;
  letter-spacing: 1px;
  text-align: justify;

}
img h1 {
  display: flex;
  justify-content: center;
  align-content: center;
}
