<br>

<figure>
  <figcaption>Roadmap to Developer</figcaption>
  <ul class="tree">
    <li>
      <details>
        <summary>
          <code>Java Basics</code>
        </summary>
        Hier gibts infos zu Java Basics
      </details>
      <ul>
        <li>
          <details>
            <summary>
              <code>TDD</code>
            </summary>
            Hier gibts infos zu TDD
          </details>
        </li>
      </ul>
      <ul>
        <li><details><summary><code>GIT</code></summary>Hier gibts infos zu git</details>
        </li>


      </ul>
      <ul>
        <li><details>
          <summary>
            <code>RestAPI</code>
          </summary>
          Hier gibts infos zu RestAPI
        </details>
        </li>
      </ul>
      <ul>
        <li>
          <details>
          <summary>
            <code>Backend</code>
          </summary>
          Hier gibts infos zum Backend
        </details>
        <ul>
          <li><details>
            <summary>
              <code>Spring Framework</code>
            </summary>
            Hier gibts infos zu den Spring Frameworks
          </details>
          </li>
          <li><details>
            <summary>
              <code>HTTP</code>
            </summary>
            Hier gibts infos zu HTTP
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Design Pattern</code>
            </summary>
            Hier gibts infos zu Design Patterns
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>SQL</code>
            </summary>
            Hier gibts infos zu SQL
          </details>
          </li>
        </ul>
        </li>
        <li>
          <details>
          <summary>
            <code>Frontend</code>
          </summary>
          Hier gibts infos zum Frontend
        </details>
        <ul>
          <li>
            <details>
            <summary>
              <code>Thymeleaf</code>
            </summary>
            Hier gibts infos zu Thymeleaf
          </details>
          </li>
          <li><details>
            <summary>
              <code>HTML/CSS</code>
            </summary>
            Hier gibts infos zu HTML und CSS
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Angular</code>
            </summary>
            Hier gibts infos zu Angular
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Javascript</code>
            </summary>
            Hier gibts infos zu Javascript
          </details>
          </li>
        </ul></li>
      </ul>

    </li>
  </ul>
</figure>



