<link href="https://fonts.cdnfonts.com/css/mattone" rel="stylesheet">
<br>

<figure>
  <ul class="tree">
    <li>
      <details>
        <summary>
          <code>Java Basics</code>
        </summary>
        <div>
        Java is a programming language and computing platform first released by Sun Microsystems in 1995. Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies. It is a computing platform for application development. Java is fast, secure, and reliable, therefore. It is widely used for developing Java applications in laptops, data centers, game consoles, scientific supercomputers, cell phones, etc.

        Learn about the fundamentals of Java such as basic syntax, data types, variables, conditionals, functions, data structures, packages, etc.

        Visit the following resources to learn more:

        <br>
        <a href="https://www.w3schools.com/java/">Java Basics W3Schools</a>
        <br>
        <a href="https://www.youtube.com/watch?v=eIrMbAQSU34">Java Tutorial for Beginners</a>
        <br>
        <a href="https://www.udemy.com/course/programmieren-lernen-mit-java-ein-kurs-fur-einsteiger/">Udemy Java Kurs</a>
        <br><br>
        </div>
      </details>
      <ul>
        <li>
          <details>
            <summary>
              <code>TDD</code>
            </summary>

            <div >
              Testing

              A key to building software that meets requirements without defects is testing. Software testing helps developers know they are building the right software. When tests are run as part of the development process (often with continuous integration tools), they build confidence and prevent regressions in the code.

              Visit the following resources to learn more:
              <br>
              <a href="https://www.guru99.com/software-testing-introduction-importance.html">What is Software Testing?</a>
              <br>
              <a href="https://www.browserstack.com/guide/testing-pyramid-for-test-automation">Testing Pyramid</a>

            </div>

          </details>
        </li>
      </ul>
      <ul>
        <li>
          <details>
            <summary>
              <code>GIT</code>
            </summary>
            <div>
            Git

            Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.

            Visit the following resources to learn more:
            <br>
            <a href="https://www.youtube.com/watch?v=SWYqp7iY_Tc">Git and Github Crash Course</a>
              <br>
            </div>
          </details>
        </li>


      </ul>
      <ul>
        <li><details>
          <summary>
            <code>RestAPI</code>
          </summary>
          <div>
            REST

            REST, or REpresentational State Transfer, is an architectural style for providing standards between computer systems on the web, making it easier for systems to communicate with each other.

            Visit the following resources to learn more:
            <a href="https://www.codecademy.com/article/what-is-rest">What is Rest?</a>
            <br>
            <a href="https://www.redhat.com/en/topics/api/what-is-a-rest-api">What is a Rest API?</a>
            <br>

          </div>

        </details>
        </li>
      </ul>
      <ul>
        <li>
          <details>
          <summary>
            <code>Backend</code>
          </summary>
          Hier gibts infos zum Backend
        </details>
        <ul>
          <li><details>
            <summary>
              <code>Spring Framework</code>
            </summary>
            Hier gibts infos zu den Spring Frameworks
          </details>
          </li>
          <li><details>
            <summary>
              <code>HTTP</code>
            </summary>
            Hier gibts infos zu HTTP
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Design Pattern</code>
            </summary>
              <div>
                Design patterns are general solutions to common problems that arise in software development. They provide a way to describe and communicate proven solutions to common design problems and they provide a common vocabulary for design. They are not specific to any particular programming language or technology, but rather describe the problem and the solution in a way that can be applied to many different contexts.

                There are several different types of design patterns, including:

                Creational patterns
                Structural patterns
                Behavioral patterns
                Architectural patterns

                Learn more from the following links:
                <br>
                <a href="https://www.youtube.com/watch?v=BWprw8UHIzA">What are Design Patterns?</a>
                <br>
                <a href="https://en.wikipedia.org/wiki/Software_design_pattern">Overview - Software Design Pattern</a>
                <br>
              </div>
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>SQL</code>
            </summary>
              <div>
                MySQL is an incredibly popular open source relational database management system (RDBMS). MySQL can be used as a stand-alone client or in conjunction with other services to provide database connectivity. The M in LAMP stack stands for MySQL; that alone should provide an idea of its prevalence.

                Visit the following resources to learn more:
                <br>
                <a href="https://www.mysql.com/">MySQL Website</a>
                <br>
                <a href="https://www.w3schools.com/mySQl/default.asp">W3Schools - MySQL tutorial</a>
                <br>
              </div>
          </details>
          </li>
        </ul>
        </li>
        <li>
          <details>
          <summary>
            <code>Frontend</code>
          </summary>
          Hier gibts infos zum Frontend
        </details>
        <ul>
          <li>
            <details>
            <summary>
              <code>Thymeleaf</code>
            </summary>
              <div>

                Thymeleaf is a modern server-side Java template engine for both web and standalone environments.

                Thymeleaf's main goal is to bring elegant natural templates to your development workflow — HTML that can be correctly displayed in browsers and also work as static prototypes, allowing for stronger collaboration in development teams.

                With modules for Spring Framework, a host of integrations with your favourite tools, and the ability to plug in your own functionality, Thymeleaf is ideal for modern-day HTML5 JVM web development — although there is much more it can do.
                <br>
                <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html">Tutorial Using Thymeleaf</a>
                <br>
              </div>
          </details>
          </li>
          <li><details>
            <summary>
              <code>HTML/CSS</code>
            </summary>
            <div>
              HTML stands for HyperText Markup Language. It is used on the frontend and gives the structure to the webpage which you can style using CSS and make interactive using JavaScript.

              Visit the following resources to learn more:
              <br>
              <a href="https://www.w3schools.com/html/html_intro.asp">W3Schools: Learning Html</a>
              <br>
              <a href="https://html.com/">HTML For Beginners The Easy Way</a>
              <br>
              <br>
              CSS or Cascading Style Sheets is the language used to style the frontend of any website. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.

              Visit the following resources to learn more:
              <br>
              <a href="https://www.codecademy.com/learn/learn-css">Learn CSS | Codecademy</a>
              <br>
              <a href="https://www.csszengarden.com/">ZenGarden | The Beauty of CSS</a>
              <br>
            </div>
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Angular</code>
            </summary>
              <div>
                Angular is a component based front-end development framework built on TypeScript which includes a collection of well-integrated libraries that include features like routing, forms management, client-server communication, and more.

                Visit the following resources to learn more:
                <br>
                <a href="https://roadmap.sh/angular">Visit Dedicated Angular Roadmap</a>
                <br>
                <a href="https://angular.io/start">Official - Getting started with Angular</a>
                <br>
              </div>
          </details>
          </li>
          <li>
            <details>
            <summary>
              <code>Javascript</code>
            </summary>
              <div>
                JavaScript, often abbreviated JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. It lets us add interactivity to pages e.g. you might have seen sliders, alerts, click interactions, popups, etc on different websites — all of that is built using JavaScript. Apart from being used in the browser, it is also used in other non-browser environments as well such as Node.js for writing server-side code in JavaScript, Electron for writing desktop applications, React Native for mobile applications, and so on.

                Visit the following resources to learn more:
                <br>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript MDN Docs</a>
                <br>
                <a href="https://www.w3schools.com/js/">W3Schools – JavaScript Tutorial</a>
                <br>
              </div>
          </details>
          </li>
        </ul></li>
      </ul>

    </li>
  </ul>
</figure>



